body {
  margin: 0px;
  padding: 10px;
  color: #192E32;
  font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana";
  background: #fff;
}

div {
  font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana";
}

form {
  margin: 0px;
  padding: 0px;
}

input {
  outline: 0;
  font: 12px Microsoft Yahei, "courier new";
}

a:visited {
  color: #335B64;
  text-decoration: none;
}

a:link {
  color: #335B64;
  text-decoration: none;
}

a:hover {
  color: #EB8A3D;
  text-decoration: underline;
}

a:active {
  color: #EB8A3D;
  text-decoration: underline;
}

.cl-link-blue{
  color: #41A5E1 !important
}

input.button {
  padding: 2px 8px 0px;
  margin: 2px 2px;
  border: 1px solid #2D5082;
  background: url(/img/button_bg.gif) repeat-x;
}

input.capital {
  text-transform: uppercase;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

/*login page --by evelyn*/
.login-hd{ background: none; height: 44px; padding: 40px 0 40px 50px; }
.center-wrap{ width: 1200px; margin: 0 auto; overflow: auto;}
.center-wrap .top-ibg-wrap { width: 480px; height: 600px; float: left;}
.center-wrap .top-ibg-wrap .top-ibg-480600 { display: block; width: 480px; height: 600px;}

.center-wrap .z-bd {
  width: 720px;
  float: right;
  position: relative;
  overflow: hidden;
  padding-bottom: 42px;
  padding-top: 80px;
  height: 400px;
}
.z-bd .login-panel {
  position: absolute;
  left: 15px;
  z-index: 2;
  width: 302px;
  height: 372px;
  /*background: rgba(255,255,255,.85);*/
  color: #A1A1A1;
  padding: 5px 70px 25px;
  overflow: hidden;
  box-shadow: 5px 2px 20px rgba(0,0,0,.3);
  background: -moz-linear-gradient(359deg, rgba(241,249,255,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(241,249,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(359deg, rgba(241,249,255,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(359deg, rgba(241,249,255,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, rgba(241,249,255,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(91deg, rgba(241,249,255,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f9ff', endColorstr='#fff',GradientType=1 ); /* ie6-9 */
}
.z-bd .login-panel .logo-text { margin: 0;}
.z-bd .login-panel .logo-text .text { color: #d77f39; font-size: 18px; line-height: 40px; text-align: center; margin: 0; padding: 0;}
.z-bd .login-panel .logo-text .logo { width: 162px; height: 42px; margin: 0 auto; background: url(/img/admin/ecshop_logo_03.png) no-repeat center;}
.z-bd .login-panel .ecshop-logo { padding: 46px 0 30px; }
.z-bd .login-panel .yunqi-logo { padding: 30px 0 8px;}
.z-bd .login-panel.cloud{
  left: auto;
  right: 15px;
  box-shadow: -5px 2px 20px rgba(0,0,0,.3);
}
.z-bd .login-cloud.ecshop{
  right: auto;
  background: -moz-linear-gradient(359deg, rgba(66,165,224,1) 0%, rgba(86,180,235,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(66,165,224,1)), color-stop(100%, rgba(86,180,235,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(359deg, rgba(66,165,224,1) 0%, rgba(86,180,235,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(359deg, rgba(66,165,224,1) 0%, rgba(86,180,235,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, rgba(66,165,224,1) 0%, rgba(86,180,235,1) 100%); /* ie10+ */
  background: linear-gradient(91deg, rgba(66,165,224,1) 0%, rgba(86,180,235,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42A5E0', endColorstr='#56B4EB',GradientType=1 ); /* ie6-9 */
}
.z-bd .login-panel.cloud {
  background: -moz-linear-gradient(359deg, rgba(240,231,223,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(240,231,223,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(359deg, rgba(240,231,223,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(359deg, rgba(240,231,223,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, rgba(240,231,223,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(91deg, rgba(240,231,223,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e7df', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}
.z-bd .login-cloud.ecshop .btn-tab{
  background: url(/img/admin/ecshop-n.png) no-repeat center center;
}
.z-bd .login-cloud.ecshop .btn-tab:hover{
  background: url(/img/admin/ecshop-h.png) no-repeat center center;
}
.login-panel .panel-hd{
  padding-bottom: 10px;
  line-height: 1;
  font-size: 18px;
  margin: 18px 0;
  text-align: center;
  font-weight: normal;
}
.login-panel .controls {
  position: relative;
  height: 51px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.login-panel .controls.first{
  border-radius: 5px 5px 0 0 ;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.login-panel .controls.two{
  border-radius:0 0 5px 5px;
  overflow:hidden;
}
.login-panel .controls.two.active{
  border-radius:0;
}
.login-panel .controls.third{
  border-radius: 0 0 5px 5px ;
  overflow: hidden;
  display:none;
}
.login-panel .controls.third.active{
  display:block;
}
.login-panel .controls.last{
  border: none;
}
.login-panel input[type=text], .login-panel input[type=password] {
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
  color: #8a8a8a;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-indent: 50px;
  box-shadow: inset 30px 30px 0 30px #fff;
}
.login-panel .panel-bd {
  height: 255px;
  overflow: hidden;
}
.controls .iconphone {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 10;
}
.btn-a {
  display: block;
  color: #FFF;
  width: 180px;
  font-size: 16px;
  line-height: 51px;
  text-align: center;
  background-color: #03ABD0;
  border: 0;
  border-radius: 4px;
  letter-spacing: 4px;
  margin-top: 0px;
  box-shadow: 0 1px 0 #ccc;
}
.login-panel .btn-a {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}
.login-panel .bside {
  margin-top: 12px;
  overflow: hidden;
  height: auto;
}
.login-panel .bside input[type="checkbox"] {
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px 8px 0 0;
}
.login-panel .bside label {
  color: #666;
  float: left;
}
.login-panel .bside a {
  float: right;
  display: inline-block;
  text-align: right;
}
.login-panel .bside .link-forget{
  float:left;
  margin-left: 25px;
}
.login-cloud{
  position: absolute;
  left: auto;
  right: 15px;
  z-index: 1;
  padding: 70px 25px 20px;
  margin: 0 auto;
  width: 200px;
  height: 312px;
  color: #fff;
  text-align: center;
  background: -moz-linear-gradient(359deg, rgba(238,128,53,1) 0%, rgba(251,164,105,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(238,128,53,1)), color-stop(100%, rgba(251,164,105,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(359deg, rgba(238,128,53,1) 0%, rgba(251,164,105,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(359deg, rgba(238,128,53,1) 0%, rgba(251,164,105,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, rgba(238,128,53,1) 0%, rgba(251,164,105,1) 100%); /* ie10+ */
  background: linear-gradient(91deg, rgba(238,128,53,1) 0%, rgba(251,164,105,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8035', endColorstr='#fba469',GradientType=1 ); /* ie6-9 */
}
.ecshop { right: auto; left: 15px;}
.login-cloud .hd{
  line-height: 50px;
  font-size: 18px;
}
.login-cloud p{font-size: 16px;}
.login-cloud .hd span{
  color: #c2bfbd;
}
.login-cloud .btn-tab{
  display: block;
  width: 110px;
  height: 110px;
  background: url(../images/cloud-n.png) no-repeat center center;
  margin: 50px auto 20px;
}
.login-cloud .btn-tab:hover{
  background: url(../images/cloud-h.png) no-repeat center center;
}
.login-cloud img{
  width: 100%;
  cursor: pointer;
}
.cloud-passw{
  margin-top: 20px;
}
.personal-set{
  position: relative;
}
.personal-set .panel-hint{
  display: none;
  position: absolute;
  margin: 0;
  left: -7px;
  top: 10px;
  height: auto;
  width: 82px;
  padding-top: 10px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
}
.personal-set .panel-hint ul{
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
}
.personal-set .panel-hint ul:before{
  content: '';
  position: absolute;
  top: -9px;
  right: 35px;
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
#submenu-div .personal-set li{
  float: initial;
  padding: 0;
  margin: 0;
  border-left: none;
  color: #ddeef2;
}
.personal-set li a{
  display: block;
  padding-left: 5px;
  line-height: 20px;
  color: #696969 !important;
  background-color: transparent;
}
.personal-set li a:hover{
  color: #000;
  background-color: #ddeef2;
  box-shadow: 0 1px 1px 1px #ddd;
}
.personal-set .btn-first a{
  border-radius: 5px 5px 0 0;
}
.personal-set .btn-first a:hover{
  box-shadow: 0 1px 1px 1px #ddd;
}
.personal-set .btn-exit a{
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #ddd;
}
/*login page --by evelyn*/

/*order list page --by evelyn*/
.btn-fixed{
  position: fixed;
}
.btn-ERP{
  position: relative;
  float: right;
  top: -4px;
  width: 142px;
  height: 34px;
  color: #333;
  line-height: 34px;
  text-align: center;
  background: url(../images/sprit.png) -59px -1004px;
}
.btn-ERP i{
  font-style: normal;
}
.btn-ERP:hover{
  color: #333;
  background: url(../images/sprit.png) -59px -1055px;
}
.panel-order-query{
  width: 825px;
  height: auto;
  top: 10%;
  padding-bottom: 40px;
}
.panel-order-query .panel-hd{
  width: 775px;
  padding-left: 50px;
}
.panel-order-query .panel-bd{
  padding: 40px 30px;
}
.panel-order-query tr,.panel-order-query td,.panel-order-query td div{
  line-height: 2;
}

/*order list page --by evelyn*/

h1 .btn-add-goods a,h1 .btn-quick-goods a{
  float: right;
  width: 135px;
  height: 33px;
  border: none;
  padding: 0;
  background: url(../images/sprit.png) no-repeat -66px -1213px;
}
h1 .btn-add-goods a:hover,h1 .btn-add-goods a:hover{
  border: none;
  background: #FFF url(../images/sprit.png) no-repeat -66px -1259px;
}
h1 .btn-add-goods a:before{
  display:none;
}
h1 .btn-quick-goods a{
  background-position: -66px -1110px;
}
h1 .btn-quick-goods a:hover{
  background-position: -66px -1163px;
}
#turn-page{ text-align: right;  }